.contact {
  padding: 0;
}

.contact-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form-wrapper {
  background-color: $black;
  width: 50%;
}

.form {
  margin-left: auto;
  padding-top: 61px;
  padding-bottom: 69px;
  margin-right: 17.8%;
  width: 410px;
  box-sizing: border-box;
}

.form h2 {
  margin: 0;
  margin-bottom: 37px;
  font-family: $bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: $white;
}

.filter__type {
  margin-bottom: 27px;
  padding: 0;
  border: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filter input {
  padding: 0;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: $white;
  width: calc(50% - 15px);
  border: none;
  border-bottom: 2px solid #74819c;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;

  &::placeholder {
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $white;
  }
}

.filter input:hover,
.filter input:focus {
  outline: none;
  border-bottom: 2px solid $white;
}

.filter input:active {
  border-bottom: 2px solid #74819c;
}

.form-button {
  padding: 18px 10px 15px;
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 3px solid $white;
}

.form-button:hover,
.form-button:focus {
  padding: 14px 10px 11px;
  font-size: 18px;
  line-height: 20px;
  border: 5px solid $white;
}

.form-button:active {
  padding: 18px 10px 15px;
  font-size: 14px;
  line-height: 16px;
  border: 3px solid $white;
}

.address-wrapper {
  width: 50%;
  border-top: 1px solid #74819c;
}

.address {
  margin-left: 12.6%;
  padding: 61px 0 61px;
  width: 500px;
  box-sizing: border-box;
}

.address h2 {
  margin: 0;
  margin-bottom: 33px;
  font-family: $bebas;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
}

.address__list {
  margin: 0 auto;
  padding: 0 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 15px);
    top: 5px;
    width: 1px;
    height: 88%;
    background-color: #74819c;
  }
}

.address__item {
  width: 200px;
  box-sizing: border-box;
}

.address__item:not(:nth-child(-n+2)) {
  margin-top: 15px;
}

.address__item h3 {
  margin: 0;
  margin-bottom: 3px;
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}

.address__item p {
  margin: 0;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.address__item a {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: $black;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: $black;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  &:active::after {
    width: 0%;
    transition: width 0s ease-in-out;
  }
}

@media (max-width: $laptop-width) {
  .contact {
    padding: 60px 0 42px;
  }

  .contact-wrapper {
    display: block;
  }

  .form-wrapper {
    width: 100%;
  }

  .form {
    margin-left: 0;
    padding: 0;
    padding-top: 69px;
    padding-left: 133px;
    padding-right: 163px;
    padding-bottom: 68px;
    width: 100%;
  }

  .form h2 {
    margin-bottom: 37px;
    font-size: 42px;
    line-height: 42px;
  }

  .filter {
    margin-right: 0;
  }

  .filter__type {
    margin-bottom: 29px;
  }

  .filter input {
    width: calc(50% - 30px);
  }

  .address-wrapper {
    border: none;
    width: 100%;
  }

  .address {
    margin: 0 auto;
    padding: 69px 45px 20px 133px;
    width: 100%;
    border: none;
    box-sizing: border-box;
  }

  .address h2 {
    margin: 0;
    margin-bottom: 33px;
    font-size: 42px;
    line-height: 42px;
  }

  .address__list {
    margin: 0;
    padding: 0;
    width: 97%;

    &::after {
      content: "";
      left: calc(50% - 20px);
      top: 8px;
    }
  }

  .address__item {
    width: calc(50% - 28px);
  }

  .address__item:not(:nth-child(-n+2)) {
    margin-top: 19px;
  }

  .address__item h3 {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .address__item p {
    font-size: 18px;
    line-height: 152.34%;
  }

  .address__item a {
    font-size: 18px;
    line-height: 152.34%;
  }
}

@media (max-width: $mobile-width) {
  .contact {
    padding: 30px 0 23px;
  }

  .form {
    padding: 70px 15px 68px;
  }

  .form h2 {
    margin-bottom: 37px;
    font-size: 32px;
    line-height: 32px;
  }

  .filter__type {
    margin-bottom: 37px;
    display: block;
  }

  .filter input {
    width: 100%;
  }

  .filter input:not(:first-of-type) {
    margin-top: 36px;
  }

  .address {
    padding: 69px 15px 40px;
  }

  .address h2 {
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 32px;
  }

  .address__list {
    flex-direction: column;

    &::after {
      content: none;
    }
  }

  .address__item {
    width: 100%;
  }

  .address__item:nth-child(even) {
    order: 1;
  }

  .address__item:not(:first-of-type) {
    margin-top: 19px;
  }
}
