.footer {
  padding: 40px 15px 42px;
  background-color: #030a1a;
}

.footer-wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__list {
  margin: 0;
  padding: 0;
  margin-left: 22px;
  margin-bottom: 3px;
  padding-left: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.footer__item {
  margin-right: 40px;
}

.footer__item-link {
  text-decoration: none;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: $white;
    transition: width .2s ease-in-out;
    transform:translateX(-50%);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  &:active::after {
    width: 0%;
    transition: width 0s ease-in-out;
  }
}

  .footer__item-logo {
    display: none;
  }

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  box-sizing: border-box;
  max-width: 120px;
}

.footer__social-item:not(:nth-child(3n)) {
  margin-right: 25px;
}

.footer__social-icon {
  fill: $white;
}

.footer__social-item a:hover > .footer__social-icon,
.footer__social-item a:focus > .footer__social-icon {
  fill: rgba(255, 255, 255, .5);
}

.footer__social-item a:active > .footer__social-icon {
  fill: $white;
}

@media (max-width: $laptop-width) {
  .footer {
    padding: 42px 45px 38px;
  }

  .footer__list {
    margin: 0;
    margin-left: 18px;
    margin-bottom: 5px;
    padding-left: 30px;
  }

  .footer__item {
    margin-right: 30px;
  }

  .footer__social-list {
    margin-top: 3px;
  }

  .footer__social-item:not(:last-of-type) {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding: 30px 15px 43px;
    position: relative;
  }

  .footer-wrapper {
    display: block;
  }

  .footer-wrapper .logo {
    position: absolute;
    left: 15px;
    top: 49px;
  }

  .footer__list {
    margin: 0 auto 33px;
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__item {
    width: calc(50% - 15px);
    margin-top: 16px;
  }

  .footer__item {
    margin-right: 0;
  }

  .footer__item-logo {
    width: calc(50% - 12px);
    display: block;
  }

  .footer__item-link {
    font-size: 16px;
    line-height: 19px;
  }

  .footer__social-list {
    margin-top: 0;
    align-items: center;
    max-width: 200px;
  }

  .footer__social-item:not(:last-of-type) {
    margin-right: 35px;
  }

  .footer__social-icon-vk {
    width: 32px;
    height: 17px;
  }

  .footer__social-icon-instagram {
    width: 27px;
    height: 27px;
  }

  .footer__social-icon-facebook {
    width: 14px;
    height: 27px;
  }

  .footer__item-service {
    order: 1;
  }

  .footer__item-subscription {
    order: 2;
  }

  .footer__item-trainer {
    order: 1;
  }

  .footer__item-schedule {
    order: 2;
  }
}
