.header {
  flex: 1 0 auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.header-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop-width;
  padding-top: 30px;
  padding-bottom: 30px;
}

.logo {
  font-family: $bebas;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $white;
  position: relative;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: $white;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  &:active::after {
    width: 0%;
    transition: width 0s ease-in-out;
  }
}

.header__phone {
  font-family: $bebas;
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $white;
  position: relative;
  outline: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: $white;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }

  &:active::after {
    width: 0%;
    transition: width 0s ease-in-out;
  }
}

@media (max-width: $laptop-width) {
  .header {
    padding-left: 45px;
    padding-right: 45px;
  }

  .header-wrapper {
    max-width: 1023px;
    padding-top: 40px;
  }

  .logo {
    font-size: 24px;
    line-height: 24px;
  }

  .header__phone {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .header {
    padding-left: 13px;
    padding-right: 13px;
  }

  .header-wrapper {
    max-width: 767px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    font-size: 20px;
    line-height: 20px;
  }

  .header__phone {
    font-size: 20px;
    line-height: 20px;
  }
}
