.review {
  padding: 60px 15px 120px;
}

.review-wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  text-align: center;
}

.review h2 {
  margin: 0;
  margin-bottom: 52px;
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}
