.stock {
  padding: 118px 15px 58px;
}

.stock-wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  text-align: center;
}

.stock h2 {
  margin: 0;
  margin-bottom: 52px;
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

.stock__content {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.stock__ad {
  width: calc(50% - 20px);
  background-image: url("../img/stock@1x.png");
  background-size: 280px;
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #ed0233;
  height: 100%;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .stock__ad {
    background-image: url("../img/stock@2x.png");
  }
}

.stock__year {
  box-sizing: border-box;
  padding: 36px 40px 46px 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: $white;
  width: 50%;
  min-height: 462px;
  height: 100%;
}

.stock__year-title {
  display: inline-block;
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
}

.stock__year p {
  margin: 0;
  width: 100%;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

.stock__year-coast {
  display: inline-block;
  margin-bottom: 20px;
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 100%;
}

.stock__year-link {
  margin-top: auto;
  position: relative;
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: $white;
  }

  &:hover::before,
  &:focus::before {
    content: none;
  }

  &:active::before {
    content: "";
  }
}

.stock__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.stock__item {
  padding: 25px 35px 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 211px;
  box-sizing: border-box;
  background-image: url("../img/stock-border.svg");
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
}

.stock__item:not(:first-of-type) {
  margin-top: 40px;
}

.stock__item h3 {
  margin: 0;
  margin-bottom: 3px;
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 150%;
  color: #1c3374;
}

.stock__item p {
  margin: 0;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #1c3374;
}

.stock__item a {
  margin-top: auto;
  position: relative;
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #1c3374;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #1c3374;
  }

  &:hover::before,
  &:focus::before {
    content: none;
  }

  &:active::before {
    content: "";
  }
}

@media (max-width: $laptop-width) {
  .stock {
    padding: 99px 45px 58px;
  }

  .stock h2 {
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
  }

  .stock__content {
    margin: 0 auto;
    display: block;
    width: 678px;
  }

  .stock__ad {
    margin-bottom: 30px;
    width: 678px;
    background-image: url("../img/stock-lap@1x.png");
    background-size: 399px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .stock__ad {
      background-image: url("../img/stock-lap@2x.png");
    }
  }

  .stock__year {
    padding: 36px 40px 46px 46px;
    width: 279px;
  }

  .stock__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

  .stock__item {
    display: block;
    padding: 25px 35px 37px;
    width: calc(50% - 15px);
    background-image: url("../img/stock-border-lap.svg");
  }

  .stock__item:first-of-type {
    padding-right: 62px;
  }

  .stock__item:not(:first-of-type) {
    margin-top: 0;
  }

  .stock__item:not(:nth-child(-n+2)) {
    margin-top: 30px;
  }
}

@media (max-width: $mobile-width) {
  .stock {
    padding: 69px 15px 58px;
  }

  .stock__content {
    text-align: center;
    width: 290px;
  }

  .stock h2 {
    margin-bottom: 43px;
    font-size: 32px;
    line-height: 32px;
  }

  .stock__ad {
    padding-bottom: 299px;
    width: 100%;
    background-image: url("../img/stock-mob@1x.png");
    background-position: center bottom;
    background-size: 290px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .stock__ad {
      background-image: url("../img/stock-mob@2x.png");
    }
  }

  .stock__year {
    padding: 37px 50px 46px 50px;
    width: 100%;
    align-items: center;
    height: auto;
    min-height: auto;
  }

  .stock__year-coast {
    margin-bottom: 13px;
  }

  .stock__year-link {
    margin: 31px auto 0;
  }

  .stock__list {
    display: block;
  }

  .stock__item:first-of-type {
    padding-right: 15px;
  }

  .stock__item {
    padding: 36px 15px 48px;
    width: 100%;
    background-image: url("../img/stock-border-mob.svg");
    align-items: center;
  }

  .stock__item:not(:first-of-type) {
    margin-top: 30px;
  }

  .stock__item h3 {
    margin-bottom: 4px;
  }

  .stock__item p {
    padding: 0 46px;
  }

  .stock__item a {
    margin: auto auto 0;
  }
}
