.trainer {
  margin: 0 auto;
  padding: 57px 72px 120px;
  max-width: $desktop-width;
}

.trainer h2 {
  margin: 0;
  margin-bottom: 53px;
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.trainer__list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
}

.trainer__item {
  margin-right: 3.5%;
  max-width: 260px;
  width: 100%;
}

.trainer__item:nth-child(3n) {
  margin-right: 0;
}

.trainer__item:nth-child(n+6) {
  display: none;
}

.trainer__item:nth-child(n+2):nth-child(-n+3) {
  order: 1;
}

.trainer__item a {
  display: block;
  text-decoration: none;
  position: relative;
}

.trainer__link h3 {
  margin: 0;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 22px;
  transform: translateX(-50%);
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: $white;
}

.trainer__link p {
  margin: 0;
  margin-bottom: 36px;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 110%;
  color: #b6bdcc;
}

.trainer__image {
  display: block;
  width: 100%;
}

.trainer__list-slider {
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  outline: none;
  cursor: pointer;
}

.trainer__list-slider-prev {
  left: -52px;
  transform: rotate(45deg);
}

.trainer__list-slider-next {
  right: -52px;
  transform: rotate(225deg);
}

.trainer__list-slider:hover,
.trainer__list-slider:focus {
  width: 40px;
  height: 40px;
}

.trainer__list-slider:active {
  width: 24px;
  height: 24px;
}

.trainer__link {
  text-align: center;
  height: 294px;
  background-size: 100% 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
}

.trainer__link:hover .trainer__link-cover,
.trainer__link:focus .trainer__link-cover {
  display: block;
}

.trainer__link:active .trainer__link-cover {
  display: none;
}

.trainer__link:hover h3,
.trainer__link:focus h3 {
  top: 52px;
  bottom: auto;
}

.trainer__link:active h3 {
  top: auto;
  bottom: 22px;
}

.trainer__link-anna {
  background-image: url("../img/trainer1@1x.png");
}

.trainer__link-alexey {
  background-image: url("../img/trainer2@1x.png");
}

.trainer__link-alexander {
  background-image: url("../img/trainer3@1x.png");
}

.trainer__link-maria {
  background-image: url("../img/trainer4@1x.png");
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .trainer__link-anna {
    background-image: url("../img/trainer1@2x.png");
  }

  .trainer__link-alexey {
    background-image: url("../img/trainer2@2x.png");
  }

  .trainer__link-alexander {
    background-image: url("../img/trainer3@2x.png");
  }

  .trainer__link-maria {
    background-image: url("../img/trainer4@2x.png");
  }
}

.trainer__link-cover {
  display: none;
  box-sizing: border-box;
  padding: 79px 5px 5px;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 38, 84, 0.89);
}

.trainer__link-list {
  margin: 0;
  margin-left: 26px;
  list-style-type: disc;
  text-align: left;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $white;
}

.trainer__link-item:not(:first-of-type) {
  margin-top: 13px;
}

@media (max-width: $laptop-width) {
  .trainer {
    padding: 50px 45px 100px;
    text-align: center;
  }

  .trainer h2 {
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
  }

  .trainer__item {
    margin-right: 4.5%;
    max-width: 268px;
  }

  .trainer__item:nth-child(n+4) {
    display: none;
  }

  .trainer__item:nth-child(n+2):nth-child(-n+3) {
    order: 0;
  }

  .trainer__link-anna {
    background-image: url("../img/trainer1-lap@1x.png");
  }

  .trainer__link-alexey {
    background-image: url("../img/trainer2-lap@1x.png");
  }

  .trainer__link-alexander {
    background-image: url("../img/trainer3-lap@1x.png");
  }

  .trainer__link-maria {
    background-image: url("../img/trainer4-lap@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .trainer__link-anna {
      background-image: url("../img/trainer1-lap@2x.png");
    }

    .trainer__link-alexey {
      background-image: url("../img/trainer2-lap@2x.png");
    }

    .trainer__link-alexander {
      background-image: url("../img/trainer3-lap@2x.png");
    }

    .trainer__link-maria {
      background-image: url("../img/trainer4-lap@2x.png");
    }
  }

  .trainer__list-slider-prev {
    left: 4px;
  }

  .trainer__list-slider-next {
    right: 4px;
  }

  .trainer__link-cover {
    padding: 79px 10px 5px;
  }

  .trainer__link-list {
    margin-left: 21px;
  }
}

@media (max-width: $mobile-width) {
  .trainer {
    padding: 35px 15px 70px;
    text-align: center;
  }

  .trainer h2 {
    margin-bottom: 43px;
    font-size: 32px;
    line-height: 32px;
  }

  .trainer__item {
    margin-right: 0;
    max-width: 226px;
    width: 100%;
  }

  .trainer__item:nth-child(3n) {
    margin-right: 0;
  }

  .trainer__item:nth-child(n + 3) {
    display: none;
  }

  .trainer__link {
    height: 274px;
  }

  .trainer__link-anna {
    background-image: url("../img/trainer1-mob@1x.png");
  }

  .trainer__link-alexey {
    background-image: url("../img/trainer2-mob@1x.png");
  }

  .trainer__link-alexander {
    background-image: url("../img/trainer3-mob@1x.png");
  }

  .trainer__link-maria {
    background-image: url("../img/trainer4-mob@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .trainer__link-anna {
      background-image: url("../img/trainer1-mob@2x.png");
    }

    .trainer__link-alexey {
      background-image: url("../img/trainer2-mob@2x.png");
    }

    .trainer__link-alexander {
      background-image: url("../img/trainer3-mob@2x.png");
    }

    .trainer__link-maria {
      background-image: url("../img/trainer4-mob@2x.png");
    }
  }

  .trainer__link-cover {
    padding: 68px 5px 5px;
  }

  .trainer__link:hover h3,
  .trainer__link:focus h3 {
    top: 42px;
  }

  .trainer__link p {
    margin-bottom: 37px;
  }

  .trainer__link-list {
    margin-left: 5px;
  }

  .trainer__list-slider {
    top: calc(50% - 6px);
    width: 14px;
    height: 14px;
  }

  .trainer__list-slider:hover,
  .trainer__list-slider:focus {
    width: 30px;
    height: 30px;
  }

  .trainer__list-slider:active {
    width: 14px;
    height: 14px;
  }

  .trainer__list-slider-prev {
    left: 2px;
  }

  .trainer__list-slider-next {
    right: 2px;
  }
}
