.training {
  padding: 120px 15px 235px;
}

.training-wrapper {
  margin: 0 auto;
  max-width: $desktop-width;
  display: flex;
  justify-content: space-between;
}

.training-text {
  width: 355px;
  padding-top: 47px;
  padding-left: 60px;
}

.training h2 {
  margin: 0;
  margin-bottom: 9px;
  font-family: $bebas;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
}

.training-text-subtitle {
  display: inline-block;
  margin-bottom: 38px;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
}

.training-text p {
  margin: 0;
  margin-top: 9px;
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
}

.training__image {
  position: relative;
  margin-left: 78px;
  width: 660px;
  height: 401px;
  background-image: url("../img/training@1x.png");
  background-size: 660px;
  background-position: left top;
  background-repeat: no-repeat;
  background-color: transparent;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .training__image {
    background-image: url("../img/training@2x.png");
  }
}


.training__video-wrapper {
  position: absolute;
  left: -63px;
  top: 288px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
  }
}

.training__video {
  display: block;
  width: 364px;
  height: 228px;
  background-image: url("../img/training-video@1x.png");
  background-size: 364px;
  background-color: $white;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/training-video@2x.png");
  }
}

.training__video-play {
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-image: url("../img/training-play.svg");
  background-size: 100px;
  background-color: transparent;
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
}

@media (max-width: $laptop-width) {
  .training {
    padding: 99px 0 183px;
  }

  .training-wrapper {
    max-width: $laptop-width;
    padding-left: 45px;
    padding-right: 45px;
    display: block;
    text-align: center;
  }

  .training-text {
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
  }

  .training h2 {
    font-size: 42px;
    line-height: 42px;
  }

  .training-text-subtitle {
    margin-bottom: 34px;
    font-size: 18px;
  }

  .training-text p {
    margin: 0 auto 43px;
    padding: 0 51px;
  }

  .training-text p:first-of-type {
    margin-bottom: 0;
  }

  .training-text p:not(:nth-child(-n+3)) {
    display: none;
  }

  .training__image {
    margin: 0 auto;
    width: 678px;
    height: 345px;
    background-image: url("../img/training-lap@1x.png");
    background-size: 678px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .training__image {
      background-image: url("../img/training-lap@2x.png");
    }
  }

  .training__video-wrapper {
    left: 50%;
    top: auto;
    bottom: -82px;
    transform: translate(-50%);
  }

  .training__video {
    width: 266px;
    height: 167px;
    background-image: url("../img/training-video-lap@1x.png");
    background-size: 266px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/training-video-lap@2x.png");
    }
  }

  .training__video-play {
    width: 73px;
    height: 73px;
    background-size: 73px;
  }
}

@media (max-width: $mobile-width) {
  .training {
    padding: 69px 0 70px;
  }

  .training-wrapper {
    max-width: $mobile-width;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: left;
  }

  .training h2 {
    margin: 0 15px 6px;
    font-size: 32px;
    line-height: 32px;
  }

  .training-text-subtitle {
    margin: 0 15px 24px;
  }

  .training-text p {
    margin: 0 15px 33px;
    padding: 0;
    padding-right: 30px;
  }

  .training__image {
    width: 320px;
    height: 520px;
    background-image: url("../img/training-mob@1x.png");
    background-size: 320px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .training__image {
      background-image: url("../img/training-mob@2x.png");
    }
  }

  .training__video-wrapper {
    margin-top: 40px;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: none;
  }

  .training__video {
    width: 100%;
    height: auto;
    background-image: url("../img/training-video-mob@1x.png");
    background-size: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/training-video-mob@2x.png");
    }
  }
}
