@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Bebas Neue Regular"),
    local("BebasNeue-Regular"),
    url("../fonts/bebasneue.woff2") format("woff2"),
    url("../fonts/bebasneue.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Bebas Neue Regular Bold"),
    local("BebasNeue-Regular-Bold"),
    url("../fonts/bebasneue-700.woff2") format("woff2"),
    url("../fonts/bebasneue-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Condensed"),
    local("RobotoCondensed-Regular"),
    url("../fonts/roboto-condensed.woff2") format("woff2"),
    url("../fonts/roboto-condensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/roboto-condensed-700.woff2") format("woff2"),
    url("../fonts/roboto-condensed-700.woff") format("woff");
}

html,
body {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: $roboto;
  font-style: normal;
  color: $black;
  background-color: $bg-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 4px solid $black;
  border-radius: none;
  font-family: $roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  padding: 19px 10px 20px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  outline: none;
}
