$bg-color: #ffffff;
$white: #ffffff;
$blue: #103aae;
$black: #102654;
$grey: #495a7d;
$roboto: "Roboto Condensed", "Arial", sans-serif;
$bebas: "Bebas Neue", "Arial", sans-serif;
$desktop-width: 1160px;
$laptop-width: 1200px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
